Import library

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
colors = sns.color_palette("Set2")

read data csv

In [2]:
df = pd.read_csv('movie_genre_classification_final.csv')
df.head()

,Title,Year,Director,Duration,Rating,Votes,Description,Language,Country,Budget_USD,BoxOffice_USD,Genre,Production_Company,Content_Rating,Lead_Actor,Num_Awards,Critic_Reviews
0,Winds of Fate 4,1980,R. Lee,167,4.1,182425,A touching love story with heartwarming moments.,Spanish,China,39979615,179936008,Romance,DreamWorks,R,Kangana Ranaut,8,229
1,Firestorm 11,2014,S. Chen,166,4.1,449351,A fast-paced thriller with intense action scenes.,Korean,China,116404774,802121619,Action,Netflix,R,Kangana Ranaut,20,466
2,Silent Echo 2,2016,A. Khan,170,4.1,363328,A fast-paced thriller with intense action scenes.,Korean,Japan,166261330,225526871,Action,Pixar,PG,Amitabh Bachchan,16,539
3,City Lights 4,1982,L. Zhang,170,9.9,62371,An emotional journey exploring complex charact...,Japanese,Japan,28861315,69813738,Drama,Netflix,NC-17,Natalie Portman,15,606
4,Broken Truth 1,1990,L. Zhang,91,5.3,4600,An imaginative world filled with magic and won...,Korean,USA,43890403,375136716,Fantasy,Studio Ghibli,PG,Chris Evans,6,330

dtype & memory

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               50000 non-null  object
 1   Year                50000 non-null  int64
 2   Director            50000 non-null  object
 3   Duration            50000 non-null  int64
 4   Rating              50000 non-null  float64
 5   Votes               50000 non-null  int64
 6   Description         50000 non-null  object
 7   Language            50000 non-null  object
 8   Country             50000 non-null  object
 9   Budget_USD          50000 non-null  int64
 10  BoxOffice_USD       50000 non-null  int64
 11  Genre               50000 non-null  object
 12  Production_Company  50000 non-null  object
 13  Content_Rating      50000 non-null  object
 14  Lead_Actor          50000 non-null  object
 15  Num_Awards          50000 non-null  int64
 16  Critic_Reviews      50000 non-null  int64
dtypes: float64(1), int64(7), object(9)
memory usage: 6.5+ MB

numeric summary

In [5]:
df.describe()

,Year,Duration,Rating,Votes,Budget_USD,BoxOffice_USD,Num_Awards,Critic_Reviews
count,50000.000000,50000.00000,50000.000000,50000.000000,5.000000e+04,5.000000e+04,50000.000000,50000.000000
mean,2001.562620,130.07312,6.926472,249699.050540,9.179143e+07,5.176063e+08,9.964440,500.176380
std,12.722539,29.11097,1.698758,144314.043032,5.823888e+07,2.880283e+08,6.066303,289.971792
min,1980.000000,80.00000,4.000000,516.000000,1.135566e+06,3.291117e+06,0.000000,0.000000
25%,1991.000000,105.00000,5.500000,124531.500000,4.389040e+07,2.590329e+08,5.000000,248.000000
50%,2002.000000,130.00000,6.900000,248582.000000,8.062480e+07,5.109973e+08,10.000000,500.000000
75%,2013.000000,155.00000,8.400000,374833.500000,1.475557e+08,7.704129e+08,15.000000,751.000000
max,2023.000000,180.00000,9.900000,499984.000000,1.984445e+08,9.925159e+08,20.000000,1000.000000

random spot.check

In [6]:
df.sample(5)

,Title,Year,Director,Duration,Rating,Votes,Description,Language,Country,Budget_USD,BoxOffice_USD,Genre,Production_Company,Content_Rating,Lead_Actor,Num_Awards,Critic_Reviews
35949,Frozen Whisper 9,1992,T. Johnson,134,5.3,234553,A light-hearted comedy that guarantees laughter.,Korean,USA,33239921,821037985,Comedy,DreamWorks,R,Chris Evans,14,929
38390,Eternal Love 12,1986,P. Adams,163,4.9,107356,A light-hearted comedy that guarantees laughter.,Mandarin,Japan,163740614,347695657,Comedy,Pixar,PG-13,Chris Evans,5,213
34384,Silent Echo 15,2008,N. Roy,135,6.8,395250,An imaginative world filled with magic and won...,Spanish,India,3836027,347695657,Fantasy,Universal Pictures,G,Kangana Ranaut,15,422
16955,Lost World 7,2021,T. Johnson,113,5.6,156931,A spine-chilling tale that evokes fear and dread.,Mandarin,USA,134560258,54691318,Horror,Paramount Pictures,R,Brad Pitt,12,364
22258,Midnight Sun 1,2021,S. Chen,121,6.3,113353,A spine-chilling tale that evokes fear and dread.,French,Japan,78469147,815292816,Horror,Pixar,PG,Kangana Ranaut,15,796

Data cleaning

In [7]:
df.isnull().sum()

Title                 0
Year                  0
Director              0
Duration              0
Rating                0
Votes                 0
Description           0
Language              0
Country               0
Budget_USD            0
BoxOffice_USD         0
Genre                 0
Production_Company    0
Content_Rating        0
Lead_Actor            0
Num_Awards            0
Critic_Reviews        0
dtype: int64

- check duplicate

In [9]:
df.duplicated().sum()

np.int64(0)

get all column

In [10]:
df.columns

Index(['Title', 'Year', 'Director', 'Duration', 'Rating', 'Votes',
       'Description', 'Language', 'Country', 'Budget_USD', 'BoxOffice_USD',
       'Genre', 'Production_Company', 'Content_Rating', 'Lead_Actor',
       'Num_Awards', 'Critic_Reviews'],
      dtype='object')