Control Flow

Control Statement

In [3]:
age = 66

if age < 10:
    print("Minor")
elif age < 65:
    print("Adult")
else:
    print("Senior")

Senior

Nested Conditional Statement

In [4]:
number = 10
if number > 0:
    print("Positive")
    if number % 2 == 0:
        print("Even")
    else:
        print("Odd")

Positive
Even

Break and Continues Loop

In [7]:
for i in range(5):
    if i == 2:
        continue
    print(f"{i} is in range 5")

0 is in range 5
1 is in range 5
3 is in range 5
4 is in range 5

In [8]:
for i in range(5):
    if i == 3:
        break
    print(f"{i} is in range 5")

0 is in range 5
1 is in range 5
2 is in range 5

Switch like Structure

In [9]:
def switch_case(option):
    return {
        1: "Option 1 selected",
        2: "Option 2 selected",
        3: "Option 3 selected"
    }.get(option, "Invalid option")

print(switch_case(2))  # Output: Option 2 selected

Option 2 selected

For Loop

In [10]:
for i in range(5):
    print(f"Outer loop {i}")

Outer loop 0
Outer loop 1
Outer loop 2
Outer loop 3
Outer loop 4

While Loop

In [11]:
i = 0
while i < 5:
    print(f"Inner loop {i}")
    i += 1

Inner loop 0
Inner loop 1
Inner loop 2
Inner loop 3
Inner loop 4

Enumerate

Basic Usage

In [13]:
my_list = ['a', 'b', 'c']
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: a
Index: 1, Value: b
Index: 2, Value: c

Specifying a Start Index

In [14]:
for index, value in enumerate(my_list, start=1):
    print(f"Index: {index}, Value: {value}")

Index: 1, Value: a
Index: 2, Value: b
Index: 3, Value: c

Converting to a List of Tuples

In [16]:
enumerate_list = list(enumerate(my_list))
print(enumerate_list)  # Output: [(0, 'a'), (1, 'b'), (2, 'c')]

[(0, 'a'), (1, 'b'), (2, 'c')]

Using with List Comprehension

In [17]:
enumerated_dict = {index: value for index, value in enumerate(my_list)}
print(enumerated_dict)  # Output: {0: 'a', 1: 'b', 2: 'c'}

{0: 'a', 1: 'b', 2: 'c'}

Interating Over a String

In [20]:
for index, char in enumerate("Hello"):
    print(f"Index: {index}, Character: {char}")

Index: 0, Character: H
Index: 1, Character: e
Index: 2, Character: l
Index: 3, Character: l
Index: 4, Character: o

Iterator

Creating an iterator

In [26]:
my_list = [1, 2, 3]
my_iterator = iter(my_list)
print(my_iterator)  # Output: <list_iterator object at ...>

<list_iterator object at 0x10457ab00>

Using next

In [27]:
first_item = next(my_iterator)
second_item = next(my_iterator)

Iterating using a loop

In [28]:
for item in my_iterator:
    print(item)  # Output: 3

3

Create a custom Iterator

In [38]:
class MyRange:
    def __init__(self, start, end):
        self.current = start
        self.end = end

    def __iter__(self):
        return self

    def __next__(self):
        if self.current < self.end:
            value = self.current
            self.current += 1
            return value
        else:
            raise StopIteration


my_range = MyRange(1, 4)
for number in my_range:
    print(number)  # Output: 1, 2, 3

1
2
3

Convert to list

In [39]:
list_from_iterator = list(iter(range(5)))
print(list_from_iterator)  # Output: [1, 2, 3]

[0, 1, 2, 3, 4]

Checking if an Object is an iterator

In [41]:
from collections.abc import Iterator

is_interator = isinstance(my_interator, Iterator)
print(is_interator)  # Output: True

True

Using it with a Function

In [42]:
import random

def random_number():
    while True:
        yield random.randint(1, 10)

random_iter = iter(random_number())
for _ in range(5):
    print(next(random_iter))  # Output: Random number between 1 and 10

5
6
8
3
1

Range

Create a Range

In [43]:
r = range(5)
r

range(0, 5)

Converting to a List

In [45]:
list_range = list(range(5))
list_range

[0, 1, 2, 3, 4]

Reverse Range

In [46]:
r = range(5, 0, -1)
r

range(5, 0, -1)

Checking Membership

In [47]:
exists = 3 in range(5)
exists

True

Using with List Comprehension

In [48]:
square = [x**2 for x in range(5)]
square

[0, 1, 4, 9, 16]

Create a Range Object

In [50]:
r = range(1, 10)
r

range(1, 10)

Specifying Start and Stop

In [51]:
r = range(2, 8)
r

range(2, 8)

Specifying step

In [52]:
r = range(0, 10, 2)
r

range(0, 10, 2)

Iterating Over a Range

In [53]:
for i in range(5):
    print(i)  # Output: 0, 1, 2, 3, 4

0
1
2
3
4

Length of a Range

In [55]:
length = len(range(5))
length

5

Tuples

Create a Tuple

In [56]:
my_tuple = (1, 2, 3, 4, 5)

Accessing Elements

In [59]:
first_item = my_tuple[0]
print(first_item)  # Output: 1

last_item = my_tuple[-1]
print(last_item)  # Output: 5

1
5

Single-Element Tuple

In [60]:
single_element = (1,)
print(single_element)  # Output: (1,)

(1,)

Iterating Through a Tuple

In [61]:
for i in my_tuple:
    print(i)  # Output: 1, 2, 3, 4, 5

1
2
3
4
5

Tuple are immutable

Length of Tuple

In [63]:
length = len(my_tuple)
print(length)  # Output: 5

5

Repeating Tuples

In [64]:
repeated_tuple = my_tuple * 2
print(repeated_tuple)  # Output: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

Packing and Unpacking

In [65]:
packed = 1, 2, 3
print(packed)  # Output: (1, 2, 3)

(1, 2, 3)

In [67]:
a, b, c = packed
print(packed)

(1, 2, 3)

Slicing

In [68]:
sub_tuple = my_tuple[1:4]
print(sub_tuple)  # Output: (2, 3, 4)

(2, 3, 4)

Concatenating Tuples

In [69]:
new_tuple = my_tuple + (6, 7)
print(new_tuple)  # Output: (1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

Set

Create a set

In [70]:
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

Adding element

In [71]:
my_set.add(6)
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

Checking Existence

In [72]:
exists = 2 in my_set
print(exists)  # Output: True

True

Converting a list to a set

In [73]:
my_list = [1, 2, 3]
unique_set = set(my_list)
print(unique_set)  # Output: {1, 2, 3}

{1, 2, 3}

Set Operation

In [75]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

union = set_a | set_b

intersection = set_a & set_b

difference = set_a - set_b

symmertric_difference = set_a ^ set_b

Removing Element

In [ ]:
my_set.remove(2)

my_set.discard(3)

popped_item = my_set.pop()

Clearing a Set

In [ ]:
my_set.clear()

Iterating Through a Set

In [ ]:
for item in my_set:
    print(item)  # Output: 1, 3, 4, 5

Set Comprehension

In [76]:
square_set = {x**2 for x in range(5)}
print(square_set)  # Output: {0, 1, 4, 9, 16}

{0, 1, 4, 9, 16}

Set Length

In [77]:
lenght = len(my_set)
print(lenght)  # Output: 4

6

Dictionary

Creating a Dictionary

In [78]:
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict)  # Output: {'name': 'Alice', 'age': 25}

{'name': 'Alice', 'age': 25}

Accessing Values

In [80]:
name = my_dict['name']
print(name)  # Output: Alice
age = my_dict['age']
print(age)  # Output: 25

Alice
25

Adding/Updating items

In [81]:
my_dict['city'] = 'New York'

my_dict['age'] = 26

print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'city': 'New York'}

{'name': 'Alice', 'age': 26, 'city': 'New York'}

Removing Items

In [82]:
del my_dict['age']

value  = my_dict.pop('city')

print(value)  # Output: New York
print(my_dict)  # Output: {'name': 'Alice'}

New York
{'name': 'Alice'}

Iteration Through a Dictionary

In [86]:
for key, value in my_dict.items():
    print(f"{key}: {value}")  # Output: name: Alice

name: Alice

Dictionary Comprehension

In [87]:
squared_dict = {x: x**2 for x in range(5)}
print(squared_dict)  # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

Mergin Dictionaries

In [89]:
another_dict = {'city': 'Paris'}
merged_dict = {**my_dict, **another_dict}
print(merged_dict)  # Output: {'name': 'Alice', 'city': 'Paris'}

{'name': 'Alice', 'city': 'Paris'}

Checking for Existence

In [90]:
exists = 'name' in my_dict
print(exists)  # Output: True

True

Dictionary Leghth

In [91]:
length = len(my_dict)
print(length)  # Output: 1

1

Copying a Dictionary

In [92]:
copy_dict = my_dict.copy()
print(copy_dict)  # Output: {'name': 'Alice'}

{'name': 'Alice'}